.form-control {
    width: 40%;
    margin: 2% auto 0 auto;
}

.search-button {
    margin-left: 55%;
    margin-top: 1%;
    width: 15%;
    font-size: 20px;
    background-color: #428bca;
    border-color: #5bc0de;
    color: whitesmoke;
    border-radius: 8%;
}

.search-button:hover {
    background-color: #5bc0de;
    border-color: #428bca;
}